---
import { getCollection } from 'astro:content'

import MainLayout from '$/layouts/Main.astro'

import BlogHeader from '$/components/BlogHeader.astro'
// import BlogPost from '$/components/BlogPost.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<MainLayout frontmatter={entry.data}>

		<div class="px-8">

			<BlogHeader />

			<div class="m-auto max-w-5xl">
				<article class="content max-w-3xl">
					<!-- <div> -->
						<header class="my-10 lg:my-12">
							<h1 class="title text-zinc-800 dark:text-zinc-100">{entry.data.title}</h1>
						</header>
						<main class="prose-lg lg:prose-xl text-zinc-700 dark:text-zinc-400 prose-headings:font-bold prose-headings:dark:text-zinc-100">
							<Content />
						</main>
					<!-- </div> -->
				</article>
			</div>

		</div>

</MainLayout>

<style>
	.title {
		@apply font-display leading-snug font-bold text-4xl lg:text-6xl;

		/* color: #7C4EFF;
		background: -webkit-linear-gradient(45deg, #7C4EFF, #A21CAF);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; */
	}
</style>