.content a {
	@apply relative text-zinc-900 dark:text-zinc-100 font-bold;
}

.content a::before {
	content: '';

	@apply absolute left-0 w-full bg-violet-600 transition-all duration-200 ease-in-out;
	bottom: 3px;
	height: 6px;
	z-index: -1;
}

.content a:hover::before {
	@apply bottom-0 h-full;
}