.overlay {
  @apply absolute w-full h-screen;

  background: rgb(239, 239, 239);
  background: linear-gradient(
    180deg,
    rgba(239, 239, 239, 0.4) 0%,
    rgba(255, 255, 255, 1) 90%
  );
}

html.dark .overlay {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0.3) 0%,
    rgba(17, 17, 17, 1) 90%
  );
}


html.dark .greet {
  color: #eee !important;
}