---
// Component Imports
import MainLayout from '$/layouts/Main.astro'

import BlogHeader from '$/components/BlogHeader.astro'
import BlogPostPreview from '$/components/BlogPostPreview.astro'

import { getCollection } from 'astro:content'

let title = 'Blog'
let description = 'Let me just say.'
let permalink = 'https://zane.im/blog/'

const posts = await getCollection('blog', ({ data }) => {
	return data.draft !== true;
})

---

<MainLayout>

	<!-- <div class="overlay"></div> -->

	<div class="wrap relative px-8 dark:text-slate-50">

		<BlogHeader />

		<main class="content">
			<section class="intro	m-auto max-w-5xl">
				<h1>{title}</h1>
				<!-- <p>{description}</p> -->
			</section>
			<section aria-label="Blog post list">
				{posts.map((p) => <BlogPostPreview post={p} />)}
			</section>
		</main>
		
	</div>

</MainLayout>

<style>
	h1 {
		@apply font-display leading-snug lg:leading-normal font-bold text-6xl lg:text-7xl my-4 lg:my-8;

		/* color: #7C4EFF;
		background: -webkit-linear-gradient(45deg, #7C4EFF, #A21CAF);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; */
	}
</style>