---
import { SITE } from '$/config'

import MainLayout from '$/layouts/Main.astro'
import Map from '$/components/Map.svelte'

const title = 'Creative Software Engineer'
const description = SITE.title
const permalink = '/'
---

<MainLayout title={title} description={description} permalink={permalink}>

  <Map client:load />
  <div class="view">
    <div class="wrap">
      <div class="content font-serif [a]:light:text-gray-800 [a]:dark:text-gray-200">
        <h1><a class="h-card" href="https://zane.im"><span class="p-name">Zane Taylor</span></a> is a creative software engineer.</h1>
        <p class="text-2xl lg:text-3xl">He lives in Oregon, building digital things with code, data, maps, and open source. He's been at it for two decades, and is always ready for a new challenge.</p>
        <h2>Need more?</h2>
        <p class="text-xl lg:text-2xl">Go ahead and <a target="_blank" href="mailto:me@zane.im">say hello</a>.</p>

        <h3>See also</h3>
        <ul class="text-lg">
          <li><a href="/resume" target="_blank">Resume &rarr;</a></li>
          <li><a href="https://www.linkedin.com/in/iamzanetaylor" target="_blank" rel="me">LinkedIn &rarr;</a></li>
          <li><a href="https://github.com/zanetaylor" target="_blank" rel="me">Github &rarr;</a></li>
          <li><a href="https://letterboxd.com/zanetaylor" target="_blank" rel="me">Letterboxd &rarr;</a></li>
          <li><a href="https://pixelfed.social/i/web/profile/186848319497179136" target="_blank" rel="me">Pixelfed &rarr;</a></li>
          <li><a href="https://social.lol/@zane" rel="me">Mastodon &rarr;</a></li>
          <li><a href="https://zane.omg.lol" rel="me">omg.lol &rarr;</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</MainLayout>

<style lang="scss">
html, body {
  // @apply w-full h-full;
}
body {
  @apply font-sans bg-white;

  color: #111;
  overflow: overlay;
  scrollbar-gutter: stable;
}
.view {
  @apply relative;
}
.wrap {
  @apply min-h-full pt-20 pb-16 px-8 lg:pt-28 lg:pb-16 lg:px-20 opacity-90;
  perspective: 50vh;
}
@keyframes welcome {
  0% {
      opacity: 0;
      // transform: translateY(90%) rotateX(25deg);
  }
  70% {
    opacity: 0;
    // transform: translateY(90%) rotateX(25deg);
  }
  100% {
      opacity: 1;
      // transform: translateY(0) rotateX(0);
  }
}
.content {
  animation: 2.25s cubic-bezier(0.83, 0, 0.17, 1) 0s 1 forwards welcome;
}
h1 {
  @apply font-display leading-snug font-bold text-4xl lg:text-6xl mb-8 lg:mb-12;

  span {
    color: #7C4EFF;
    background: -webkit-linear-gradient(45deg, #7C4EFF, #A21CAF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
h2 {
  @apply inline-block font-sans text-2xl lg:text-4xl font-bold;

  background: -webkit-linear-gradient(45deg, #7C4EFF, #A21CAF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 { @apply text-xl lg:text-2xl font-bold; }
h2, h3 { @apply mb-1.5 }
p { @apply leading-normal lg:leading-normal mb-12 max-w-6xl; }
p, li {
  a {
    @apply relative no-underline transition-all duration-300;
    // color: #242424;
    background-size: 100% 300%;
    background-image: linear-gradient(transparent 24px, #7C4EFF 0);
    text-shadow: none;
  }
}
li a:hover,
p a:hover {
  color: #fff;
  text-shadow: #aaa 1px 1px 1px;
  background-position: -140px;
}
ul {
  @apply p-0 mr-12 mb-4 inline-block list-none;

  li {
    margin: 0 0 .5rem 0;

    a {
      background-image: linear-gradient(transparent 19px, #7C4EFF 0);
    }
  }
}
</style>
