---
// Component Imports
import MainLayout from '$/layouts/Main.astro'

import BlogHeader from '$/components/BlogHeader.astro'
import Footer from '$/components/Footer.astro'

---

<MainLayout>

	<div class="wrap relative px-8 dark:text-slate-50">

		<BlogHeader />

		<main class="content">
			<section class="intro	m-auto max-w-5xl">

				<h1>Selected work</h1>

				<h2>Projects</h2>
				<dl>
					<dt>Alta Planning + Design</dt>
					<dt>LA River Path</dt>
					<dt>Get There Oregon</dt>
					<dt>Spare the Air Youth</dt>
				</dl>

				<h2>Clients</h2>
				<ul>
					<li>Native Arts & Cultures Foundation</li>
					<li>Northwest Rafting Company</li>
					<li>The Community Cycling Center</li>
					<li>Oregon Manifest</li>
					<li>New Seasons Market</li>
				</ul>
				
			</section>
		</main>
		
	</div>

	<Footer/>

</MainLayout>

<style>
	h1 {
		@apply font-display leading-snug lg:leading-normal font-bold text-6xl lg:text-7xl my-4 lg:my-8;
	}
</style>