---


---
<header>
	<h4><a class="h-card" href="/"><span class="p-name">Zane Taylor</span></a></h4>
</header>

<style>
header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	/* height: 5rem; */
}
</style>
