---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<article class="post-preview">
	<header>
		<h1 class="title font-display font-bold text-5xl leading-tight"><a href={`/blog/${post.slug}`}>{post.data.title}</a></h1>
	</header>
	<p class="font-sans text-xl">{post.data.description}</p>
	<!-- <a href={`/blog/${post.slug}`}>Read more</a> -->
</article>

<style>
	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	header {
		/* align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 2rem;
		text-align: left; */
		margin: 0 0 1rem 0;
	}

	a {
		color: #7C4EFF;
		background: -webkit-linear-gradient(45deg, #7C4EFF, #A21CAF);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.title {
		
	}
</style>
