---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<article class="post-preview">
	<a href={`/blog/${post.slug}`} class="block -mx-8 px-8 transition duration-300 hover:bg-zinc-100 dark:hover:bg-black">
		<div class="m-auto max-w-5xl py-12">
			<div class="max-w-3xl">
				<header>
					<h1 class="title font-display font-bold text-4xl lg:text-5xl leading-tight mb-3">{post.data.title}</h1>
				</header>
				<p class="font-sans text-xl">{post.data.description}</p>
				<!-- <a href={`/blog/${post.slug}`}>Read more</a> -->
			</div>
		</div>
	</a>
</article>

<style>
	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	a:hover {
		background-image: url(/assets/nnnoise.svg);
	}

	h1 {
		color: #7C4EFF;
		background: -webkit-linear-gradient(45deg, #7C4EFF, #A21CAF);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
