---
import NetlifyIdentity from './NetlifyIdentity.vue'
---
<footer class="footer">
    <nav class="nav">
        <div>&copy; 20XX</div>
        <NetlifyIdentity client:load/>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>