---
import NetlifyIdentity from './NetlifyIdentity.svelte'
---
<footer class="footer px-8 py-10 text-sm text-zinc-700">
    <!-- <nav class="nav"> -->
    <div class="m-auto max-w-5xl">&copy;</div>
    <!-- </nav> -->
</footer>

<NetlifyIdentity client:load/>
