---
const { items } = Astro.props;
---

<div class="flex flex-wrap basis-1/2 md:block">
{items.map((p) => (
  <div class="flex-none w-1/2 mb-8">
    <h3 class="text-cyan-500 font-bold mb-2">{p.name}</h3>
      <ul>
      {p.keywords.map((p) => (
        <li>{p}</li>
      ))}
      </ul>
  </div>
))}
</div>