---
import { SITE } from '$/config'
import BaseHead from '$/components/BaseHead.astro'
import Footer from '$/components/Footer.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={ SITE.title } description={ SITE.description } />
    </head>
    <body>
        <slot/>
        <Footer/>
    </body>
</html>