---
import { SITE } from '$/config'
import BaseHead from '$/components/BaseHead.astro'

import '$/styles/global.css'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={ SITE.title } description={ SITE.description } />

<link rel="alternate" type="application/rss+xml" title="Zane's Blog" href="https://zane.im/rss.xml" />

        <script async defer data-website-id="fc372a6a-23f7-4690-8bb3-8e440a6f6988" src="https://analytics.zane.im/umami.js"></script>
    </head>
    <body class="text-zinc-800 dark:text-zinc-200 bg-zinc-300 dark:bg-zinc-900">
        <slot/>
    </body>
</html>

<script>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark')
    localStorage.theme = 'dark'
  } else {
    document.documentElement.classList.remove('dark')
    localStorage.theme = 'light'
  }
</script>

<style>
  body {
    background-image: url(/assets/nnnoise.svg);
    background-attachment: fixed;
  }
</style>
