---
import { SITE } from '$/config'
import BaseHead from '$/components/BaseHead.astro'
import Footer from '$/components/Footer.astro'

import '../styles/global.css'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={ SITE.title } description={ SITE.description } />

        <script async defer data-website-id="fc372a6a-23f7-4690-8bb3-8e440a6f6988" src="https://analytics.zane.im/umami.js"></script>
    </head>
    <body class="dark:text-neutral-200 dark:bg-zinc-900">
        <slot/>
        <Footer/>
    </body>
</html>

<script>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark')
    localStorage.theme = 'dark'
  } else {
    document.documentElement.classList.remove('dark')
    localStorage.theme = 'light'
  }
</script>

<style>

</style>
